* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  /* background-color: lightblue; */
  height: 80px;
  display: flex;
  align-items: center;
}

header .logo {
  padding: 0 0 0 30px;
  display: flex;
  flex: 1;
}

header .logo span {
  color: MediumAquamarine;
}

header nav {
  padding: 0 40px 0 0;
  display: flex;
}

header span {
  padding: 20px 10px;
}

header span a {
  color: black;
}

/* Main */

main {
  max-width: 1230px;
  margin: 0 auto;
  padding: 116px 0 0 0;
  font-family: georgia;
  font-size: 17px;
  color: black;
  display: flex;
  justify-content: space-between;
}

main li {
  list-style: none;
}

main h1 {
  font-size: 40px;
}

main h2 {
  font-size: 30px;
}

/* Columns */

.container {
  display: flex;
  justify-content: space-between;
}

.large {
  background: lightblue;
  max-width: 630px;
}

.medium {
  background: lightgreen;
  max-width: 300px;
}

.small {
  background: lightyellow;
  max-width: 240px;
}

/* Images */

.story-image {
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.story-image span {
  width: 300px;
}


.story-image.lead {
  background: url(./../images/img-story-main.png) no-repeat;
  height: 300px;
  display: flex;
  text-align: left;
}

.story-image.lead h1 {
  margin: 0 30px;
}

.story-image.one {
  height: 300px;
  background: url(./../images/img-story-trees.png) no-repeat;
}


.story-image.two {
  height: 300px;
  background: url(./../images/img-story-camera.png) no-repeat;
}

.story-image.three {
  height: 300px;
  background: url(./../images/img-story-cat.png) no-repeat;
}
