* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Header */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  /* background-color: lightblue; */
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  background: #fff;
  width: 100%;
}

header .logo {
  padding: 0 0 0 30px;
  display: flex;
  flex: 1;
}

header .logo span {
  color: MediumAquamarine;
}

header nav {
  padding: 0 40px 0 0;
  display: flex;
}

header span {
  padding: 20px 10px;
}

header span a {
  color: black;
}

/* Main */

main {
  max-width: 1230px;
  margin: 0 auto;
  padding: 116px 0 0 0;
  font-family: georgia;
  font-size: 17px;
  color: black;
  display: flex;
  justify-content: space-between;
}

main li {
  list-style: none;
}

main h1 {
  font-size: 40px;
}

main h2 {
  padding: 0 0 1em 0;
  font-size: 30px;
}

main p {
  padding: 0 0 1em 0;
}

/* Columns */

.container {
  display: flex;
  justify-content: space-between;
}

.column.large {
  max-width: 630px;
}

.column.medium {
  max-width: 300px;
}

.column.small {
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.column.small h2 {
  font-size: 16px;
  text-align: center;
}

.column.small ul {
  margin-top: 30px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.column.small li {
  padding: 10px 10px;
  border-bottom: 1px solid black;
}



/* Images */

.story-image {
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.story-image span {
  width: 300px;
}


.story-image.lead {
  background: url(./../images/img-story-main.png) no-repeat;
  height: 300px;
  display: flex;
  text-align: left;
}

.story-image.lead h1 {
  margin: 0 30px;
}

.story-image.one {
  height: 300px;
  background: url(./../images/img-story-trees.png) no-repeat;
}


.story-image.two {
  height: 300px;
  background: url(./../images/img-story-camera.png) no-repeat;
}

.story-image.three {
  height: 300px;
  background: url(./../images/img-story-cat.png) no-repeat;
}

/* Footer */
footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .info {
  display: flex;
}

footer .copyright {
  padding: 20px 0 0 0;
  display: flex;
}


footer span.logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding:  0 2em 0 0;
}

footer span a {
  padding: 0 0 0 2em;
  color: black;
}
