* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  /* background-color: lightblue; */
  height: 80px;
  display: flex;
  align-items: center;
}

header .logo {
  padding: 0 0 0 30px;
  /* background-color: red; */
  width: 100%;
  display: flex;
}

header .logo span {
  color: MediumAquamarine;
}

header nav {
  padding: 0 40px 0 0;
  /* background-color: blue; */
  display: flex;
}

header span {
  padding: 20px 10px;
  /* background-color: orange; */
}

header span a {
  color: black;
}
